@charset "utf-8";
@import "../../lib/font-awesome/css/font-awesome.min.css";
html,
body {
  overflow-x: hidden;
}
.offcanvas-content .tab {
  display: none;
}
@media all and (max-width: 768px) {
  .offcanvas {
    position: relative;
    -webkit-transition: left 500ms;
    -moz-transition: left 500ms;
    -ms-transition: left 500ms;
    -o-transition: left 500ms;
    transition: left 500ms;
  }
  .offcanvas-left {
    left: 0;
  }
  .el-main .active {
    left: 50%;
  }
  .offcanvas-aside {
    width: 50%;
    position: absolute;
    left: -50%;
  }
  .offcanvas-content {
    width: 100%;
    position: relative;
  }
  .offcanvas-content .tab {
    background-color: #2E8ECE;
    padding: 15px 5px;
    border: 1px solid #2E8ECE;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    top: 200px;
    display: block;
    z-index: 1000;
  }
}
.bold {
  font-weight: bold;
}
.el-header {
  border-radius: 0px;
  margin-bottom: 0px;
}
.el-header .container .navbar-header a {
  color: #ffffff;
}
.el-header .container .navbar-header a i {
  font-size: 18px;
}
.el-header .container .navbar-header a span {
  font-size: 24px;
  font-style: italic;
}
.el-header .container .navbar-header p {
  font-size: 20px;
  color: #eeeeee;
  margin-bottom: 0px;
  height: 50px;
  line-height: 50px;
}
.el-header .container .navbar-header p span {
  color: #10adff;
}
.el-header .container .collapse .navbar-nav li a {
  color: #ffffff;
}
.el-header .container .collapse .navbar-nav li a:hover {
  color: #10adff;
  text-decoration: underline;
}
.el-nav {
  margin-bottom: 0px;
}
.el-nav .container .navbar-header .navbar-brand {
  display: inline-block;
  padding-top: 22px;
  height: 80px;
}
.el-nav .container .navbar-header .navbar-brand > img {
  width: 80px;
}
.el-nav .container .navbar-collapse .navbar-nav li {
  min-width: 80px;
}
.el-nav .container .navbar-collapse .navbar-nav li a {
  height: 80px;
  line-height: 80px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 18px;
  text-align: center;
}
.el-nav .container .navbar-collapse .navbar-nav li a:hover {
  color: #0a91ff;
  background-color: #e8e8e8;
}
.el-main {
  margin-top: 10px;
}
.el-main .container .row .col-sm-3 ul {
  padding-left: 0px;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.el-main .container .row .col-sm-3 ul li {
  line-height: 44px;
  border-bottom: 1px solid #ccc;
  background-color: #f6f6f6;
}
.el-main .container .row .col-sm-3 ul li a {
  padding: 5px 10px;
}
.el-main .container .row .col-sm-3 ul li a:hover {
  text-decoration: none;
}
.el-main .container .row .col-sm-3 ul li .leftNav {
  width: 100%;
  background-color: #fff;
  border: none;
  border-top: 1px solid #ccc;
  border-radius: 0px;
}
.el-main .container .row .col-sm-3 ul li .leftNav .point {
  background-color: #10adff;
}
.el-main .container .row .col-sm-3 ul li .leftNav .point a {
  color: #fff;
}
.el-main .container .row .col-sm-3 ul li .leftNav li {
  background-color: #fff;
  padding-left: 40px;
  border: none;
}
.el-main .container .row .col-sm-3 ul li .leftNav li:hover {
  background-color: #10adff ;
}
.el-main .container .row .col-sm-3 ul li .leftNav li:hover a {
  color: #fff;
}
.el-main .container .row .col-sm-3 ul li:last-of-type {
  border-bottom: none;
}
.el-main .container .row .col-sm-3 > ul > .select {
  background-color: #337AB7;
}
.el-main .container .row .col-sm-3 > ul > .select > a {
  color: #fff;
}
.el-main .container .row .col-sm-9 .panel .panel-body {
  padding: 0px;
}
.el-footer {
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #f8f8f8;
}
.el-footer .row .col-sm-8 {
  padding-right: 0px;
}
.el-footer .row .col-sm-8 p {
  height: 20px;
  line-height: 20px;
  margin-bottom: 25px;
}
.el-footer .row .col-sm-2 {
  padding-right: 0px;
}
.el-footer .row .col-sm-2 p {
  font-size: 16px;
  text-align: center;
}
.el-footer .row img {
  width: 140px;
  height: 70px;
}
.el-footer .row #weixin {
  width: 150px;
  height: 150px;
}
